@font-face {
    font-family: 'Sofia';
    src: url('font/Sofia_Sans_Condensed/static/SofiaSansCondensed-Medium.ttf') format('truetype');
}


body{
    margin: 0;
    padding: 0;
    font-family: 'Sofia', sans-serif;
}

button {
    font-family: 'Sofia', sans-serif;
}


.row{
    display: flex;
    flex-direction: row;
}

.col{
    display: flex;
    flex-direction: column;
}

/* presentation */

section:nth-of-type(1){
    background: rgb(236,252,255);
    background: linear-gradient(90deg, rgba(236,252,255,1) 34%, rgba(126,163,215,1) 76%); 

    height: 90vh;
    padding: 0 10vw 0 10vw;
}

.first_sec_div{
    display: flex;
    width: 26vw;
}

.profile_pic{
    object-fit: cover;
    width: 35vw;
    align-self: flex-end;
}

.summary{
    align-self: center;
}

/* projects */

section:nth-of-type(2){
    background-color: rgb(0, 0, 40);

    height: 95vh;
}

.section_transition{
    position: absolute;
    top: 90vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}