

.alert {
    color: red;
}

.content  {
    display: flex;
    flex-wrap: wrap;
}

.three_sections {
    border: solid 2px black;
    padding: 5px;
    margin: 5px;
    margin-bottom: 20px;
    min-width: 30%;
    max-width: 40%;
}

.graph {
    min-width: 50%;
    min-height: 50%;
}

line {
    stroke-width: 0.75;
    stroke: rgb(170, 170, 170);
    
}

circle {
    fill:none;
    stroke:rgb(170, 170, 170);
    stroke-width:0.75
}

path {
    fill: rgb(120, 9, 211, 0.3);
    stroke: rgba(128, 0, 128, 0.6);
    stroke-width: 3.5;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

a {
    align-self: flex-end;
}

.disnone {
    display: none;
}